*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    font: 16px;
}

body{
    font-family: Roboto;
    background-color: var(--background-base);
}

:root{
    --background-principal:#404EED;
    --background-base: #E5E5E5;
    --cor-texto-produto: #232323
    --btn-fundo-pedido: #C4C4C4;
    --fundo-modelo: #c9dfebb0;
    --btn-color:#C4C4C4;
}

nav{
    background-color: var(--background-principal);
    height: 4.5rem;
    width: 100%;
}

nav img{
    padding-top: 0.8rem;
    width: 14.9rem;
}

.opcoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

.espaco-titulo{
    padding: 1.5rem;
}

.opcao img{
    background-color: var(--fundo-modelo);
    border-radius: 50%;
}

.boxBtn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    padding: 0.8rem 3.8rem;
    background-color: var(--fundo-modelo);
    margin-bottom: 20px;
    
}
button{
    padding: 0.8rem 5.9rem;
    background-color: var(--btn-color);
    color: white;
}

input, button{
    border-radius: 8px;
    border: none;
}

.top-model{
    margin-top: 1.5rem;
    background-color: var(--background-principal);
}

.top-model img{
    width: 100%;
}

.images-promo{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.card-image{
    padding-top: 4rem;
    text-align: center;
    background-color: white;
    width: 310px;
    height: 310px;
    margin-bottom: 30px;
    border-radius: 10px;

}

.opcoes .opcao.selecionado{
    border: 5px solid blue;
}

.fazer-pedido.ativo{
    background-color: #32B72F;
    font-weight: bold;
    padding: 8px 120px;
    border-radius: 90px;
    color: white;

}